{% extends 'base.html' %}
{% load static %}

{% block title %}
Review Us
{% endblock %}

{% block content %}
<!-- Review section -->
<section class="contact_section layout_padding-bottom">
    <div class="container">
        <div class="heading_container">
            <h2>Review Us</h2>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="form_container">
                    <form method="POST" action="{% url 'submit_review' %}">
                        {% csrf_token %}
                        <div>
                            <input type="text" name="name" placeholder="Full Name" required />
                        </div>
                        <div>
                            <input type="email" name="email" placeholder="Email" required />
                        </div>
                        <div>
                            <input type="text" name="phone" placeholder="Phone Number" required />
                        </div>
                        <div>
                            <textarea name="feedback" class="message-box" placeholder="Feedback" required></textarea>
                        </div>
                        <div class="btn_box">
                            <button type="submit">SEND</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-5">
                <div class="img-box">
                    <img src="{% static 'images/contact-img.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end review section -->
{% endblock %}
